@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900');

*{
    padding:0;
    margin: 0;
    color:#000;
}
  
body {
    color: black;
    font-family: 'Oswald';
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: white;
    overflow-x: hidden;
}
  
html, body {
    height: 100%;
    width: 100%;
}
  
*:focus {
    outline: none;
}
  
a, a:hover, a:focus, a:clicked {
    color: #000;
}

lines {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -1;
}

lines .wrap {
    width: 20%;
    border-right: 1.5px solid rgba(0, 0, 0, 0.15); 
    height: 100%;
    display: inline-block;
}

.main {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto; 
    text-align: center;   
    position: absolute;
    top:0px;
    left: 0px;
}

.main .main-cent {
    width: 100%;
    z-index: 999;
}

.main h1 {
    letter-spacing: 2px;
    font-size: 12.3em;
    color: #2c398f;
    font-weight: 800;
}

.main h1 span {
    color: #2c398f;

}

.main {
    z-index: 999;
}

content {
    z-index: 999;
}

.header {
    position: relative;
    width: 100%;
    height: 100%;
}

.rgt {
    float: right;
    text-align: right;
}

.main-wrap {
    width: 100%;
    position: relative;
    background: transparent;
    margin-top: 400px;
}

.main-wrap .content {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.juggad, .collab {
    font-size: 22px;
    position: absolute;
    right: 0px;
    color: black;
    font-weight: 700;
    top: 0px;
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
    transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


.juggad .line, .collab .line {
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    height: 3px;
    vertical-align: super;
    background: black;
}

.main-wrap h1 {
    font-size: 180px;
}

.head {
    margin-top: -20px;
}

.head p {
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    margin-left: 5px;
    font-weight: bold;
    vertical-align: sub;
    margin-top: -33px;
    display: inline-block;
}

.head .line {
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    height: 3px;
    vertical-align: super;
    background: black;
}

.text {
    font-size: 20px;
    color: black;
    margin-top: 30px;
    line-height: 170%;
    width: 680px;
    font-weight: 800;
    font-family: 'Roboto Condensed';
    margin-left: 150px;
}

.zindex {
    position: relative;
    height: 100%;
    width: 100%;
}

.title {
    font-size: 400px;
    color: rgba(128, 128, 128, 0.337);
    opacity: 0.2;
    font-weight: bold;
    position: absolute;
    top:0px;
    right: 0px;
}

.main-wrap.rgt .title {
    left: 0px !important;
    right: inherit;
}

.img {
    padding: 100px 0px;
    float: left;
    display: block;
    width: 100%;
    position: relative;
}

.team-content {
    position: absolute;
    bottom: 180px;
    left: -130px;
}

.team-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 192, 255);
}

.team-content p {
    font-size: 25px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    vertical-align: sub;
    margin-top: -33px;
    display: inline-block;
}

.team-content .line {
    display: inline-block;
    width: 200px;
    height: 3px;
    margin-left: 20px;
    vertical-align: super;
    background: black;
}

.img.right .team-content {
    right: -130px;
    text-align: right;
}

.img img {
    width:500px;
    filter: grayscale(100);
    box-shadow: 0 50px 80px 0 rgba(0,0,0,.2);
}

.img.right {
    text-align: right;
}

.team-social {
    position: absolute;
    top: 130px;
    left: -40px;
}

.img.right .team-social {
    position: absolute;
    top: 130px;
    right: -40px;
}

.team-social ul, li {
    list-style: none;
}

.team-social ul li {
    padding: 8px 0px;
}

.team-social ul li a i {
    font-size: 20px;
    cursor: pointer;
}

.track {
    width: 100%;
    padding: 20px 0px;
    margin-left: 50px;
}

.track-wrap {
    display: inline-block;
    width: 35%;
    margin: 20px 20px;
    vertical-align: top;
}

.track-wrap h1 {
    font-size: 20px;
    color: black;
}

.track-wrap p {
    font-family: 'Roboto Condensed';
    font-size: 15px;
    line-height: 150%;
    font-weight: 600;
    margin-top: 10px;
    color: #535353;
}

.sponsors {
    width: 80%;
    padding: 40px 20px;
}

.sponsors img {
    width: 120px;
    display: inline-block;
    margin: 15px 40px;
    vertical-align: middle;
}

.logo {
    width: 350px;
}

footer {
    width: 100%;
    margin-top: 200px;
}

footer img {
    width: 100.5%;
    margin-top: 30px;
}

footer .footer {
    width: 100%;
    padding: 50px 0px;
    margin-top: -15px;
    text-align: center;
    background: #193b63;
}

footer .footer .social a i {
    color: white;
    font-size: 30px;
    margin: 0px 10px;
}

.footer .credit {
    margin-top: 30px;
}

.footer .credit p {
    display: inline-block;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.credit p a {
    padding: 0px 3px;
    padding-bottom: 2px;
    border-bottom: white 2px solid;
    color: white;
    text-decoration: none;
}

.credit .line {
    width: 30px;
    vertical-align: super;
    background: white;
    height: 2px;
    margin: 0px 10px;
    display: inline-block;
}

button {
    background: rgb(40, 195, 238);
    width: 300px;
    border: 0px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 5px solid rgb(25, 91, 157);
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    padding: 18px;
    transition: all 0.2s linear;
}

button:active {
    transition: all 0.2s linear;
    border-bottom: 0px;
}

anim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999999999999;
}

anim .wrap {
    width: 25%;
    height: 100%;
    position: fixed;
    top:0px;
    border: 0px;
    z-index: 999999999999999;
}


anim .main .main-cent h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

anim .main .main-cent .line {
    width: 200px;
    height: 4px;
    margin: 0 auto;
    margin-top: 30px;
    background: #010f23;
    transition: all 5s ease-in;
}

anim .main .main-cent .line .load {
    width: 0px;
    height: 100%;
}

anim .main .main-cent .line .load.active {
    background: white;
    width: 100%;
    transition: width 7s ease-in;
}

.power {
    margin-top: 10px;
    color: rgb(25, 91, 157);
    font-size: 12px;
    font-weight: 600;
}

.fdc {
	width:330px;
}

@media screen and (max-width:1690px)
{ 
    .logo {
        width: 300px;
    }

    .main-wrap h1 {
        font-size: 100px;
    }

    .head p {
        font-size: 20px;
    }

    .text {
        font-size: 15px;
        width: 500px;
        margin-left: 100px;
    }

    .juggad, .collab {
        right: -150px;
    }

    .track-wrap h1 {
        font-size: 18px;
    }

    .img img {
        width: 350px;
    }

    .team-content h1 {
        font-size: 45px;
    }

    .team-content p {
        font-size: 20px;
    }

    .title {
        font-size: 280px;
    }
}

@media screen and (max-width:1590px)
{ 
    .logo {
        width: 230px;
    }
}

@media screen and (max-width:900px)
{ 

    lines .wrap {
        border-right: 1.5px solid rgba(0, 0, 0, 0.04); 
    }

.fdc {
	width:80%;
}

    body {
        overflow-x: hidden;
    }
    .logo {
        width: 200px;
    }

    .main-wrap .content {
        width: 90%;
    }

    .main-wrap h1 {
        font-size: 70px;
    }

    .head p {
        font-size: 15px;
    }

    .head .line {
        width: 30%;
        margin-left: 7px;
        vertical-align: baseline;
    }

    .text {
        margin-left: 30px;
        width: 90%;
    }

    .juggad {
        right: 10px;
        width: 100%;
        display: none;
    }

    .track {
        width: 100%;
        margin-left: 30px;
    }

    .track h1 {
        text-align: justify;
        font-size: 20px;
    }

    .track p {
        font-size: 11px;
    }

    .track {
        margin-left: 0px;
    }

    .collab {
        right: 20px;
        display: none;
    }

    .sponsors {
        width: 90%;
    }

    .sponsors img {
        width: 80px;
    }

    .img {
        width: 90%;
    }

    .img img {
        width: 90%;
    }

    .img {
        margin-left: 30px;
    }

    .img.right {
        margin-left: 0px;
    }

    .team-content {
        bottom: 20px;
        left: 0px;
    }

    .img.right .team-content {
        bottom: 20px;
        right: 0px;
    }

    .team-content h1 {
        font-size: 25px;
    }

    .team-content .line {
        width: 20%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }

    .sponsors img {
        margin: 15px 20px;
    }

    .footer .credit p {
        font-size: 13px;
    }

    .title {
        font-size: 100px;
    }

    button {
        margin-top: 0px;
        border-radius: 5px;
        font-size: 10px;
        width: 150px;
        padding: 10px;
    }
}

@media screen and (max-width:380px)
{ 
    .logo {
        width: 150px;
    }
}



